<p class="user-latitude">Your current latitude is: {{model.latitude}}</p>
<p class="user-longitude">Your current latitude is: {{model.longitude}}</p>
<p class="user-location">Your current location is: {{location}}</p>
